Xft.dpi: 120
Xft.hinting: 1
Xft.antialias: 1

*.termName: xterm-256color
*.vt100.faceName: Hack:size=11
*.vt100.faceNameDoublesize: Noto Sans Mono CJK SC

! Dracula Xresources palette
*.vt100.foreground: #F8F8F2
*.vt100.background: #282A36
*.vt100.color0:     #000000
*.vt100.color8:     #4D4D4D
*.vt100.color1:     #FF5555
*.vt100.color9:     #FF6E67
*.vt100.color2:     #50FA7B
*.vt100.color10:    #5AF78E
*.vt100.color3:     #F1FA8C
*.vt100.color11:    #F4F99D
*.vt100.color4:     #BD93F9
*.vt100.color12:    #CAA9FA
*.vt100.color5:     #FF79C6
*.vt100.color13:    #FF92D0
*.vt100.color6:     #8BE9FD
*.vt100.color14:    #9AEDFE
*.vt100.color7:     #BFBFBF
*.vt100.color15:    #E6E6E6
